* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px 0px;
  background: gray;
}
.frame {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  background: white;
}

.left-side {
  display: inline-block;
  width: 55%;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.display-case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 5px;
}

.product-card {
  flex-basis: calc(33.3333% - 20px); /* Three items in a row with equal spacing and some extra spacing */
  max-width: 100px;
  margin: 20px auto;   /* Adjust the margin between rows */
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}


.reset {
  width: 50px;
  height: 50px;
  margin: 15px auto;
  background: red;
  border: 4px solid gray;
  border-radius: 50%;
}

.collector-tray {
  position: relative;
  width: 200px;
  height: 110px;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}
.collector-tray > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}


.edit-products {
  display: block;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background: white;
}
.edit-product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  border: 1px solid gray;
}
.edit-product p {
  width: 100px;
}

